.dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:black;
  }
.dropdown-menu div {
    width: 100%;
    text-align: center;  
}

.dropdown-menu.show{
    background-color:rgb(251, 40, 184);
}

nav.navbar.navbar-expand-lg{
    background-color: antiquewhite;
}

.btn-group.dropend{
    align-items: center;
}