/* font-family: 'Rajdhani', sans-serif;  */

body {
background-color:rgb(185, 227, 219) !important;
}
/*Navbar y encabezado */
.mb-3{
    display:flex;
    align-items:Center;
  }

.btn.btn-outline-success{
    color:aliceblue;
    background-color: black;
}

ul.dropdown-menu.show{
    background-color: #f8ae65;
    --bs-dropdown-link-hover-bg:hwb(309 28% 23% / 0.448);
    --bs-dropdown-link-active-bg: #665b5a94;
}

input.form-control{
    background-color: #eac492;
}
/*termina nabvar y encabezado*/

/*empieza banner*/
  .video-container {
    position: relative;
    
  }

  .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 450%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
  }

  .cards{
    position: absolute;
    bottom: 30rem;
    left: 30rem;
    z-index: 6; /* Asegura que esté por encima del video */
    font-size: 30px;
    font-family: 'Oooh Baby';
  }

  /*termina banner */
 
/*empieza catalogo*/
h1.catalogo{
    margin-top: rem !important;
    font-weight:lighter;
    font-size: 4rem;
    font-family:sans-serif;
    color:rgb(195, 161, 77);
    -webkit-text-stroke: 1px hsl(47, 80%, 21%);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #faebd7;
    font-family:'Oooh Baby', sans-serif;
}

.producto1{
    display: inline-flex;
    margin-top: 2rem;
    margin-block: 10rem;
    width: 600px;
    height: 150px;
    font-family: 'Rajdhani', sans-serif;
}


.producto2{
    display: inline-flex;
    margin-top: 2rem;
    margin-block: 10rem;
    font-family: 'Rajdhani', sans-serif;
}

.imgprod{
    width: 300px;
    height: 300px; 
}

.card{
    --bs-card-bg: #2590b1 !important;
    position:fixed;
    margin-right: 12rem;
    margin-left: 3rem;
}
.card-body{
    color:azure !important;
    font-family: 'Rajdhani', sans-serif;
}


.botones{
    font-weight: 500;
    font-size: medium;
    -webkit-text-stroke: 1px hsl(0, 0%, 0%);
}

/* boton home */
i.fa-brands.fa-fort-awesome-alt:hover{
  color:rgb(243, 244, 255) !important;
}

.casa{
    margin-left: 90%;
}







/*empieza footer */
.footer{
    position:relative;
    background-color: #205277;
    padding: 1rem;
    margin-top: 1rem;
}

.redes{
display:inherit;
justify-content: center;
align-items: center;
list-style: none;
padding: 0;
font-size:3rem;
}

.fa-xs{
font-size:0.35em;
  }

.fa-xs:hover{
    color:#ffc107!important;
    text-emphasis-color: #000;
}

/* termina footer */


/*voy agregar un fondo cuando empieza cada sección, con el nombre de la estación*/
h1.verano{
    color:#0a0606;
    font-weight:lighter;
    font-size: 2rem;
    font-family: 'Rajdhani', sans-serif;
    background: linear-gradient(#8f80cb,#83dce1b0);
    -webkit-text-stroke: 1px hsl(0, 5%, 8%);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
h1.otoño{
    color:#000000;
    font-weight:lighter;
    font-size: 2zrem;
    font-family: 'Rajdhani', sans-serif;
    background: linear-gradient(#8f80cb,#83dce1b0);
    -webkit-text-stroke: 1px hsl(0, 4%, 5%);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1.invierno{
    color:#000000;
    font-weight:lighter;
    font-size: 2rem;
    font-family: 'Rajdhani', sans-serif;
    background: linear-gradient(#8f80cb,#83dce1b0);
    -webkit-text-stroke: 1px hsl(0, 0%, 6%);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1.primavera{
    color:#030303;
    font-weight:lighter;
    font-size: 2rem;
    font-family: 'Rajdhani', sans-serif;
    background: linear-gradient(#8f80cb,#83dce1b0);
    -webkit-text-stroke: 1px hsl(0, 0%, 1%);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*contenedores de audio*/
h6.musiquita{
    display: inline-block;
  }


/*carrito*/
i.fa-solid.fa-cart-shopping.fa-2x1{
   font-size: xx-large;
}

i.fa-solid.fa-cart-shopping.fa-2x1:hover{
    color:rgb(255, 0, 195);
}

.shopp{
    margin-right: 1rem;
}

.compra-texto {
    display: none;
  }

.shopp + .compra-texto {
    display: block;
  }
  


/*pagina carrito*/
  .onlyresponsive-hr {
    display: none;
}

.titlestore-responsive {
    display: none;
}

.store {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    padding: 20px 0px;
    background-color: #fd0de9;
    color: white;
    align-items: center;
}


.wallet{
    width: 50px;
    height: 50px;
    grid-column: 11;
    position: relative;
}

.iconwallet {
    fill: rgb(255, 255, 255);
    transition: fill 0.3s;
    cursor: pointer;
}

.iconwallet.clicked {
    fill: yellow;
    
}



/* /////// */
.original-chart {
    grid-column: 12;
    position: relative;
    max-width: 50px;

} 

.icon-chart2 {
    grid-column: 12;
    position: relative;
    display: inline-flex;
    max-width: 50px;
}

.letter-ecommerce{
    position: absolute;
    top: 80%;
}

/* cards ecommerce */
.heart{
    width: 28px;
    height: 28px;
    position: relative; 
    top: -8%;
    left: 25%; 
    cursor: pointer;
    fill: gray;
}

.gangaprice {
    color: #2AB56D;
    margin-bottom: 5px;
    margin-left: -115px;
    margin-top: 42px;
}

.divisionstore-others {
    margin-left: unset;
    margin-right: unset;
}




body {
    background-color: hsl(62, 87%, 94%);
    overflow-x: hidden;   
}

header {
    background-color: hsl(216, 85%, 39%);
    position: fixed; 
    width: 100%;
    z-index: 1000; 
    top: 0;
}

.imagenavlogo{
    width: 175px;
}


.iconcontact {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.contactinfo:hover {
    transition: 0.5;
    color: #c5c5c5;
}

.contactinfo {
    color: hsl(0, 0%, 100%);
    margin: 0px;
    padding: 5px;
}

.close-boton {
    margin-right: 10px;
    cursor: pointer;
  }

/* blue rectangule2 */
.blue-rectangule2 {
    max-width: 100%;
    height: 98px;
    background-color:#0D6EFD;
}
  
/* Carousel part  */

.imgcarousel {
   filter: brightness(70%);
}

nav {
    text-align: center;
}

.introduction {
    font-size: 20px;
}

/* Blue rectangule */

.blue-rectangule {
    max-width: 100%;
    height: 111px;
    background-color: #0D6EFD;
    
}

/* Advertisement banner */

.propaganda{
    /* margin-top: 111px; */
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.publicity{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-width: 100%;
    height: auto;
    display: block;
}

/* Store */

.onlyresponsive-hr {
    display: none;
}

.titlestore-responsive {
    display: none;
}

.store {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    padding: 20px 0px;
    background-color: #0D6EFD;
    color: white;
    align-items: center;
}

.titlestore {
    grid-column: 2;
}

.wallet{
    width: 50px;
    height: 50px;
    grid-column: 11;
    position: relative;
}

.iconwallet {
    fill: rgb(255, 255, 255);
    transition: fill 0.3s;
    cursor: pointer;
}

.iconwallet.clicked {
    fill: yellow;
    
}

@keyframes blink {
    0% {
      fill: yellow;
    }
    50% {
      fill: rgb(255, 255, 255);
    }
    100% {
      fill: yellow;
    }
}
  
.iconwallet.loading {
    animation: blink 1s infinite;
}

/* /////// */
.original-chart {
    grid-column: 12;
    position: relative;
    max-width: 50px;

} 

.icon-chart2 {
    grid-column: 12;
    position: relative;
    display: inline-flex;
    max-width: 50px;
}

.letter-ecommerce{
    position: absolute;
    top: 80%;
}

.count-products {
    position: absolute;
    top: 0%;
    right: 0%; 
    background-color: #00e1ff;
    color: #fff;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#counting-products {
    font-size: 12px;
}

#counting-products.hidden {
    display: none;
}

.count-products.hidden {
    display: none;
  }

.count-products.red {
    background-color: red;
}

.button-checkout {
    padding: 10px 20px;
    border-radius: 5px;
    color: aliceblue;
    background-color: #00c3dd;
    text-align: center;
    font-size: 16px;
    border: none;
    transition-duration: 0.4s;
    position: relative;
    grid-column: 9;
}

.button-checkout:hover {
    background-color: hsl(216, 85%, 39%);
    color: white;
}

/* seccion de las cards de la ecommerce */
.product-store {
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
}

.product-container {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    margin: 20px;
    padding: 2px 16px;
    position: relative;
    width: 330px;
    height: 510px;
    text-align: center;
}

.imgproduct-container{
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.product-container img {
    width: 300px;
    height: 300px;
    transition: 0.5s;
    object-fit: cover;    
}

.product-container img:hover {
    transform: scale(1.5);    
}

.product-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.product-description {
    text-align: left;
}

.heart{
    width: 28px;
    height: 28px;
    position: relative; 
    top: -9%;
    left: 25%; 
    cursor: pointer;
    fill: gray;
}

.heart.active path {
    fill: red;
    transition: fill 0.3s ease-in-out;
  }

.button-add {
    padding: 10px 20px;
    border-radius: 5px;
    color: aliceblue;
    background-color: #0D6EFD;
    text-align: center;
    font-size: 16px;
    border: none;
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
}
  
.button-add:hover {
    background-color: hsl(216, 85%, 39%);
    color: white;
}

.prices {
    display: flex;
    flex-flow: row wrap;
    gap:15px ; 
}

.oldprice {
    margin-top: 5px;
    text-decoration: line-through;
    color: rgb(100, 100, 100);
    font-size: 20px;
}
.price {
    margin-bottom: 50px;
    margin-left: 0px;
    margin-top: 5px;
    font-size: 20px;
}

.gangaprice {
    color: #2AB56D;
    margin-bottom: 5px;
    margin-left: -115px;
    margin-top: 35px;
}


.servicetitled {
    margin-top: 30px;
}

/* Video section */

.videosection {
    margin-top: 80px;
    margin-bottom: 70px;
    position: relative;
    display: flex;
    justify-content: center;
}

video{
    justify-content: center;
    border-top-right-radius: 200px;
}

video {
    filter: brightness(50%);
}

video.playing {
    filter: brightness(100%);
}

video.playing + .textoonvideo {
    opacity: 0 ;
}

.textoonvideo{
    position: absolute;
    top: 40%;
    left: 46%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5.625em;
    text-align:start;
    font-family: "Futura", sans-serif;
}

.divisionstore-others {
    margin-left: 25px;
    margin-right: 25px;
}

/* Contact Form */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

.form-section {
    display: flex;   
    flex-flow: row wrap; 
    justify-content: center;
    align-items: center;
    padding: 3.125em;
}

.contact_form {    
    overflow:auto;
    width: 28.75em; 
    height: auto;
    margin: 0.625em auto; 
    padding-top: 0.625em;
    padding-bottom: 1.25em;  
    padding-left: 1.25em; 
    padding-right: 1.25em;
}

input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 0.0625em; 
  border-color: #0D6EFD; 
  margin-top: 0.625em;  
  padding-left: 10px;
  margin-bottom: 20px; 
}

textarea{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color: #0D6EFD; 
  margin-top: 0.625em;  
  padding-left: 0.625em;
  margin-bottom: 20px; 
  padding-top: 15px; 
}

label{
  display: block; 
  float: center;  
}

.sendbutton{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #0D6EFD; 
  border-color: #0D6EFD; 
  border-style: solid; 
  border-radius: 5px;  
  width: 408px;   
  cursor: pointer;
  
}

.sendbutton p{
  color: #fff; 
}

.obligatorio{
  color: #0D6EFD; 
}

.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}

.formtext1{
  font-size: 16px; 
  padding-bottom: 30px;
  color: #0e0e0e;   
}

.p-form {
  font-size: 14px; 
  color: #0e0e0e; 
}

::-webkit-input-placeholder {
 color: #a8a8a8;
}

::-webkit-textarea-placeholder {
 color: #a8a8a8;
}

.formulario input:focus{
  outline:0;
  border: 1px solid #0F53B8;
}

.formulario textarea:focus{
  outline:0;
  border: 1px solid #0F53B8;
}

/* Services we offer */

.services2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.servicetitled {
    font-size: 32px;
    margin-top: 90px;
    margin-bottom: 100px;
    color: #28272C;
}

.servicetitled2 {
    font-size: 38px;
    color: #3D29FE;
}

.servicetitled3 {
    font-size: 38px;
    color: #3D29FE;
}

.pservice {
    font-size: 20px;
}

.pservice2 {
    font-size: 20px;
}

.services3 {
    position: relative;
}

.serviceimg {
    width: 600px;
    height: 600px;
    font-size: 20px;
}

.custom-margin-top {
    margin-top: 50px;
    margin-bottom: 50px;    
}

.parte2img {
    float: right;
    margin-left: 20px;
} 

.parte2blabla {
    float: left;
    text-align: right;
} 

/* Como lo hacemos */

.howwedo {
    margin-bottom: 120px;
}

/* design thinking */

.designsteps {
    text-align: center;
}

.designtimg {
    width: 150px;
    height: 150px;
}

/* How to contact us */

.howto {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.content {
    margin-bottom: 90px;
}

/* footer  */

.footer1 {
    background-color: hsl(216, 98%, 52%);
    font-size: 20px; 
    padding: 10px;
    text-align: center;
    color: hsl(0, 0%, 100%);
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
    align-items: center;
}

.iconandmedias{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 30px;
}

.logofooter{
    grid-column: 1;
    justify-self: start;
}

.socialmedia{
    grid-column: 6;
}

.othersinfooter{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    padding-bottom: 50px;
}

.writes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-bottom: 50px;
    font-size: 14px;    
}

.foottext {
    position: relative;
}

.writtenby {
    justify-self: start;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.linkwrittenby{
    text-decoration: none;
    color: white;
}

.linkwrittenby:hover{
    transition: 0.5s;
    color: rgb(0, 255, 255);
}

.integral{
    justify-self: start;
}
.mediaicon {
    color:hsl(216, 85%, 39%);
    transition: color .5s;
  }
  
.mediaicon:hover {
  color: aliceblue!important; 
}

/* ////////////////////// */

.contenedorbox1 {
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

.box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 600px; 
}

.imagenbox {
    width: 300px;
    height: 300px;
}

.metodo {
    color: hsl(0, 0%, 100%);
    font-size: 24px;
}

.seccion3 {
   padding-top: 40px;
   padding-bottom: 60px;
}

/* dasdas */

.clear:after {
    content: '';
    display: block;
    clear: both;
    padding-top: 50px;    
}

.box {
    width: 50%;
    float: center;
    height: 450px;
    background-color: hsl(0, 0%, 45%);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}

li {
    list-style-type: none;
}

.hipervinculocontacto {   
    color: hsl(0, 0%, 100%);
    text-decoration: underline;
}

.textstore, .acerca, .confidencialidad, .gif {
    margin-top: 40px;
    margin-bottom: 40px;
}

.whatlook {
    margin-top: 30px;
}

.recortevertical {
    clip-path: rect(0px, auto, 0px, auto);
}

/* empresa */

.banner-company {
    margin-top: 90px;
    margin-bottom: 100px;
}

/* Nice image */

.niceimg {
    max-width: 100%;
    height: 600px;
    overflow: hidden;
}

.niceimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 55%;
}

/* about us */

.subcontainer {
    display: flex;
    align-items: center;
}

/* Acuerdo de confidencialidad */

.confidencialidad {
    background-color: hsl(0, 0%, 82%);
    color: hsl(0, 0%, 7%);
    width: 100%;
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
    align-items: center;
}

.conficencialtitulo {
    margin-left: 172px;
    margin-right: 70px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: left;
    width: 50%;
    margin: 1em ;
    min-height: 17em;
    flex-basis: calc(50% - 2em);
    position: relative;
}

.h3textconf {
    padding-top: 30px;
}

.conficencialsvg {
    margin-left: 130px;
    margin-right: 70px; 
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
    width: 50%;
    margin: 1em ;
    min-height: 17em;
    flex-basis: calc(50% - 2em);
    position: relative;
}

.acuerdo {
    justify-content: center;
}

.confidenceimg {
    width: 100%;
} 

.tituloconfidencial {
   display: flex;
   justify-content: start;
}

/* ------------------------- */

@media (max-width: 720px) {
    /* Nav */
    .close-boton {
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 9999;
    }
    /* //// */

    .imagenavlogo{
        max-width: 150px;
    }

    .iconcontact {
        justify-content: flex-start;
        margin-left: 25px;
    }

    .imgcarousel {
        height: 60vh;
        object-fit: cover;
    }

    /* Services */

    .servicetitled {
        margin-top: 40px;
    }

    .servicetitled {
        margin-bottom: 30px;
    }

    .servicetitled2 {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .servicetitled3 {
        text-align: start;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .pservice {
        text-align:start;
    }

    .pservice2{
        text-align: center;
    }

    .services2 {
        margin-bottom: 30px;
    }

    .howwedo {
        margin-bottom: 30px;
    }

    .content {
        margin-bottom: 0px;
    }

    .brservice {
        display: none;
    }

    /* /////////// */

    .designtimg {
        width: 100px;
        height: 100px;
    }

    .brhk {
        display: none;
    }

    /* Blue rectangule */

    .blue-rectangule {
        max-width: 100%;
        height: 140px;
        background-color: #0D6EFD;        
    }

    /* Advertisement banner  */

    .propaganda {
        margin-left: unset;
        margin-right: unset;
    }

    .banner-propaganda{
        width: 100%;
        height: 40vh;
        object-fit: cover;
    }

    .publicity {
        height: 40vh;
        object-fit: cover;
        max-width: 100%;
        border-bottom-left-radius: unset;
        border-bottom-right-radius: unset;
        object-position: 77% 50%;
    }

    /* Store */

    .titlestore-responsive {
        display: block;
        text-align: center;
        font-size: 32px;
    }

    .onlyresponsive-hr {
        display: block;
    }

    .store {
        display: grid;
        grid-template-columns: auto auto auto auto;
        align-items: center;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 10px;
        z-index: 1;
        
    }

    .titlestore{
        display: none;
    }

    .button-checkout {
        grid-column: 1;
    }

    .icon-chart2{
        grid-column: 4;
        justify-self: center;
        
    }

    .wallet{
        grid-column: 3;
        justify-self: center;
    }

    /* /////// */

    /* cards ecommerce */
    .heart{
        width: 28px;
        height: 28px;
        position: relative; 
        top: -8%;
        left: 25%; 
        cursor: pointer;
        fill: gray;
    }

    .gangaprice {
        color: #2AB56D;
        margin-bottom: 5px;
        margin-left: -115px;
        margin-top: 42px;
    }

    .divisionstore-others {
        margin-left: unset;
        margin-right: unset;
    }

    /* Video section */

    .videosection {
        max-width: 100%; 
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    video{
        max-width: 100%;
        border-top-right-radius: unset;
    }

    .textoonvideo{
        font-size: 32px;
        pointer-events: none;
    } 

    /* Form section */

    .form-section {
        max-width: 100%;
        padding: unset;
    }

    .contact_form { 
        overflow:auto;
        margin: unset;
    }

    input {
        max-width: 100%;
    }

    textarea {
        max-width: 100%;
    }

    .sendbutton {
        max-width: 100%;
    }

    /* //////// */

    /* footer */

    .footer1 {
        font-size: 20px;       
    }

    .containerofgrids{
        display: block;
        justify-content: center;
    }

    .iconandmedias {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .othersinfooter {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }

    .otherslink {
        padding-bottom: 10px;
    }

    .writes {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }

    .logofooter {
        justify-self: unset;
        max-width: 80%;
        height: auto;
    }

    .socialmedia {
        padding-top: 10px;
        margin-top: 10px;
    }

    .integral{
        justify-self: initial;
    }

    .writtenby {
        justify-self: initial;
    }

    /* ////// */

    .conficencialtitulo {
        margin-left: 172px;
        margin-right: 70px;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        text-align: left;
        width: 100%;
        margin: 1em ;
        min-height: 17em;
        flex-basis: calc(100% - 2em);
        position: relative;
    }

    .ustext{
        text-align: center;
    }

    /* empresa page */

    .confidencialidad {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .conficencialtitulo {
        padding-left: 50px;
        padding-right: 50px;
        justify-content: center;
        text-align: start;
    }

    .h3textconf{
        text-align: start;
        font-size: 28px;
    }

    .niceimg {
        margin-top: 55px;
        height: 80vh;
        object-fit: cover;
    }

    .niceimg img {
        height: 80vh;
        object-fit: cover;
    }

    .svgconfid {
        min-width: 200px;
        min-height: 200px;
    }

    .banner-company {
        margin-top: unset;
        margin-bottom: unset;
        height: 40vh;
        object-fit: cover;
    }

    .gif {
        height: 40vh;
        object-fit: cover;
    }

    .img-gif{
        height: 40vh;
        object-fit: cover;
    }

    /* /////////// */
}

@media screen and (min-width:721px) and (max-width: 1120px) {

    .iconcontact {
        justify-content: flex-start;
    }

    .imgcarousel {
        height: 60vh;
        object-fit: cover;
    }

    .designtimg {
        width: 200px;
        height: 200px;
    }

    .brhk {
        display: none;
    }

    /* Advertisement banner  */

    .propaganda {
        margin-left: unset;
        margin-right: unset;
    }
    
    .banner-propaganda{
        width: 100%;
    }

    .publicity{
        border-bottom-left-radius: unset;
        border-bottom-right-radius: unset;
        max-width: 100%;
    }

    /* Video section */

    .videosection {
        max-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    video{
        max-width: 100%;
        border-top-right-radius: unset;
    }

    .textoonvideo{
        font-size: 60px;
        position: absolute;
        top: 35%;
        left: 40%;
    }
    
    .containerofgrids{
        display: block;
        justify-content: center;
    }

    .iconandmedias {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .othersinfooter {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }

    .otherslink {
        padding-bottom: 10px;
    }

    .writes {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }

    .logofooter {
        justify-self: unset;
        max-width: 80%;
        height: auto;
    }

    .socialmedia {
        padding-top: 10px;
        margin-top: 10px;
    }

    .integral{
        justify-self: initial;
    }

    .writtenby {
        justify-self: initial;
    }

    /* ////// */

}

/* Animate */
.animate-on-scroll {
    opacity: 0;
    visibility: hidden;
}/*todo el carrito*/