/* font-family: 'Rajdhani', sans-serif;  */

body {
background-color:rgb(185, 227, 219) !important;
font-size: 16px;
}
/*Navbar y encabezado */
.mb-3{
    display:flex;
    align-items:Center;
  }

.btn.btn-outline-success{
    color:aliceblue;
    background-color: black;
}

ul.dropdown-menu.show{
    background-color: #f8ae65;
    --bs-dropdown-link-hover-bg:hwb(309 28% 23% / 0.448);
    --bs-dropdown-link-active-bg: #665b5a94;
}

input.form-control{
    background-color: #eac492;
}
/*termina nabvar y encabezado*/

/*empieza banner*/
  .video-container {
    position: relative;
    
  }

  .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 450%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
  }

  .cards{
    position: absolute;
    bottom: 30%;
    left: 30%;
    z-index: 6; /* Asegura que esté por encima del video */
    font-size: 3vw;
    font-family: 'Oooh Baby';
  }

  /*termina banner */
 
/*empieza catalogo*/
h1.catalogo{
    margin-top:1 rem !important;
    font-weight:lighter;
    font-size: 4vw;
    font-family:sans-serif;
    color:rgb(195, 161, 77);
    -webkit-text-stroke: 1px hsl(47, 80%, 21%);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #faebd7;
    font-family:'Oooh Baby', sans-serif;
}

.producto1{
    display: flex;
    margin-top:5%;
   margin-left: 8%;
    font-family: 'Rajdhani', sans-serif;
}


.producto2{
    display: flex;
    margin-left: 8%;
    font-family: 'Rajdhani', sans-serif;
}

.imgprod{
    width: 100%;
    height: auto; 
}

.card{
    --bs-card-bg: #2590b1 !important;
    position: relative;
    flex-basis: calc(33.33% - 2rem);
    margin-bottom: 8rem;
}
.card-body{
    color:azure !important;
    font-family: 'Rajdhani', sans-serif;
}


.botones{
    font-weight: 500;
    font-size: medium;
    -webkit-text-stroke: 1px hsl(0, 0%, 0%);
}

/* boton home */
i.fa-brands.fa-fort-awesome-alt:hover{
  color:rgb(243, 244, 255) !important;
}

.casa{
    margin-left:auto;
}

/*boton card*/
.btn-group:hover{
    color:#0734ff;
}

.btn-group {
    border-radius: var(--bs-border-radius);
    background-color: #08adc0;
    border: 0,4px solid black;
}

a.btn{
    border: 1px solid black;
}


.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
}









/*empieza footer */
.footer{
    position:relative;
    background-color: #205277;
    padding: 1rem;
    margin-top: 1rem;
}

.redes{
justify-content: center;
align-items: center;
list-style: none;
padding: 0;
font-size:3rem;
}

.fa-xs{
font-size:0.35em;
  }

.fa-xs:hover{
    color:#ffc107!important;
    text-emphasis-color: #000;
    font-size: 0.35rem;
}

i.fa-solid.fa-truck-pickup.fa-xs{
    text-emphasis-color: #000;
}

input#inputPassword4{
    margin-top: 0,85rem;
}

/* termina footer */


/*voy agregar un fondo cuando empieza cada sección, con el nombre de la estación*/
h1.verano,
h1.otoño,
h1.invierno,
h1.primavera {
  color: #0a0606;
  font-weight: lighter;
  font-size: 2rem;
  font-family: 'Rajdhani', sans-serif;
  background: linear-gradient(#8f80cb, #83dce1b0);
  -webkit-text-stroke: 1px hsl(0, 5%, 8%);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*contenedores de audio*/
h6.musiquita{
    display: inline-block;
  }


/*carrito*/
i.fa-solid.fa-cart-shopping.fa-2x1{
   font-size: xx-large;
}

i.fa-solid.fa-cart-shopping.fa-2x1:hover{
    color:rgb(255, 0, 195);
}

.shopp{
    margin-right: 1rem;
}

.compra-texto {
    display: none;
  }

.shopp + .compra-texto {
    display: block;
  }
  
/*DESCRIPCION PRODUCTOS*/
div#descripcion{
    font-family:Arial, Helvetica, sans-serif;
    font-size: larger;
}
  /* Media queries para diferentes tamaños de pantalla */
@media screen and (max-width: 768px) {
    /* Estilos para pantallas de hasta 768px de ancho */
    .producto1,
    .producto2 {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .card {
      flex-basis: 100%;
      margin-right: 0;
      margin-bottom: 2rem;
    }
  }
  
  @media screen and (max-width: 480px) {
    /* Estilos para pantallas de hasta 480px de ancho */
    .producto1,
    .producto2 {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .imgprod {
      max-width: 100%;
    }
  }


.header .preHeader{
  height: 22px;
}